# copy to .env

HYDRA_URL=http://henrik.local:4444
HYDRA_ADMIN_URL=http://henrik.local:4445
HYDRA_LOGIN_CONSENT_URL=http://henrik.local:3000
HYDRA_CONSENT_TAG=v1.0.0-beta.9
HYDRA_TAG=v1.0.0-rc.2_oryOS.9

